@font-face {
    font-family: "Neuebit";
    src: url("../fonts/neuebit.woff") format("woff"),
         url("../fonts/neuebit.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "retro";
    src: url("../fonts/retro.woff") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "fusion-pixel";
    src: url("../fonts/fusion-pixel.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    color: white;
    scroll-behavior: smooth;
    background-color: #202F53;
}

a:link {
    text-decoration: underline;
}

a:hover {
    color: #5be2fa;
}

img,
canvas,
.clear {
    image-rendering: pixelated;
}

.neuebit {
    font-family: "Neuebit", sans-serif;
}

.retro {
    font-family: "retro", sans-serif;
}

.fusion-pixel {
    font-family: "fusion-pixel", sans-serif;
}

@keyframes bobbing {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bobbing {
    animation: bobbing 2s infinite;
}

.hue-rot {
    filter: hue-rotate(-65deg) brightness(1.8);
}

::selection {
    background: #5be2fa;
}

#background {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(ellipse, mediumturquoise, darkslateblue);
    filter: url(#grainy);
}

.grainy-bg {
    background: radial-gradient(ellipse, black, transparent);
    opacity: 0.2;
    filter: url(#grainy);
}

#background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.bg-pink {
    background-color: #1E90FF;
}

.bg-blue {
    background-color: #5BE2FA;
}

.bg-dark {
    background-color: #202F53;
}

.bg-darker {
    background-color: #0A081E;
}

.text-pink {
    color: #1E90FF;
}

.border-pink {
    border-color: #1E90FF;
}

@media (min-width: 640px) {
    .sm\:text-\[80\%\] {
        font-size: 80%;
    }
}

@media (min-width: 768px) {
    .md\:w-40 {
        width: 10rem;
    }
}

@media (min-width: 1024px) {
    .lg\:scale-\[130\%\] {
        transform: scale(1.3);
    }
}

@media (min-width: 1536px) {
    .2xl\:w-64 {
        width: 16rem;
    }
} 